<div class="post-card" itemprop="blogPosts" itemscope="" itemtype="http://schema.org/BlogPosting">
  {% if post.categories %}
    {% assign categories = post.categories %}
    <span class="post-card__label">
      {% for category in categories %}
    <a href="{{site.url}}{{site.baseurl}}/categories/#{{category|slugize}}" class="label"> {{ category }} </a>
        {% unless forloop.last %}&nbsp;{% endunless %}
      {% endfor %}
    </span>
  {% endif %}
  <a href="{{ post.url | relative_url }}">
    {% if post.featured-img %}
      <figure class="post-card__thumb">
        <img
          src="{{ site.url }}{{ site.baseurl }}/assets/img/posts/{{post.featured-img}}.png",
          data-srcset="{{ site.url }}{{ site.baseurl }}/assets/img/posts/{{post.featured-img}}.png, {{ site.url }}{{ site.baseurl }}/assets/img/posts/{{post.featured-img}}.png"
          class="lazyload blur"
          alt="{{post.title}}"
        />
        <noscript><img src="{{ site.url }}{{ site.baseurl }}/assets/img/posts/{{post.featured-img}}.png" alt="{{ post.title }}"></noscript>
      </figure>
    {% else %}
      <figure class="post-card__thumb">
        <div class="dark-bg"></div>
      </figure>
    {% endif %}
  </a>
  <a class="post-card__inner" href="{{ post.url | relative_url }}">
    <div class="post-card__header">
      <h2>{{ post.title | strip_html | truncate: 50 }}</h2>
      {% assign date_format = site.sleek.date_format | default: "%b %-d, %Y" %}
      <span class="post-card__meta">
        <time>{{ post.date | date: date_format }}</time>
      </span>
    </div>
    {% if post.summary %}
      <p>{{ post.summary | strip_html | truncatewords:20 }}</p>
    {% else %}
      <p>{{ post.content | strip_html | truncatewords: 20 }}</p>
    {% endif %}
  </a>
</div>
