<footer class="footer">
  <div class="container">
    <nav class="social">
      {% if site.github_username %}
        <a class="social__link" target="_blank" rel="noopener noreferrer" href="https://github.com/{{ site.github_username }}">
          <svg class="social__icon" viewBox="0 0 20 20" width="20px" height="20px"><path d="M7.999,0.431c-4.285,0-7.76,3.474-7.76,7.761 c0,3.428,2.223,6.337,5.307,7.363c0.388,0.071,0.53-0.168,0.53-0.374c0-0.184-0.007-0.672-0.01-1.32 c-2.159,0.469-2.614-1.04-2.614-1.04c-0.353-0.896-0.862-1.135-0.862-1.135c-0.705-0.481,0.053-0.472,0.053-0.472 c0.779,0.055,1.189,0.8,1.189,0.8c0.692,1.186,1.816,0.843,2.258,0.645c0.071-0.502,0.271-0.843,0.493-1.037 C4.86,11.425,3.049,10.76,3.049,7.786c0-0.847,0.302-1.54,0.799-2.082C3.768,5.507,3.501,4.718,3.924,3.65 c0,0,0.652-0.209,2.134,0.796C6.677,4.273,7.34,4.187,8,4.184c0.659,0.003,1.323,0.089,1.943,0.261 c1.482-1.004,2.132-0.796,2.132-0.796c0.423,1.068,0.157,1.857,0.077,2.054c0.497,0.542,0.798,1.235,0.798,2.082 c0,2.981-1.814,3.637-3.543,3.829c0.279,0.24,0.527,0.713,0.527,1.437c0,1.037-0.01,1.874-0.01,2.129 c0,0.208,0.14,0.449,0.534,0.373c3.081-1.028,5.302-3.935,5.302-7.362C15.76,3.906,12.285,0.431,7.999,0.431z"/></svg>
        </a>
      {% endif %}
      {% if site.twitter_username %}
        <a class="social__link" target="_blank" rel="noopener noreferrer" href="https://www.twitter.com/{{ site.twitter_username }}">
          <svg class="social__icon" viewBox="0 0 20 20" width="20px" height="20px"><path d="M15.969,3.058c-0.586,0.26-1.217,0.436-1.878,0.515c0.675-0.405,1.194-1.045,1.438-1.809c-0.632,0.375-1.332,0.647-2.076,0.793c-0.596-0.636-1.446-1.033-2.387-1.033c-1.806,0-3.27,1.464-3.27,3.27 c0,0.256,0.029,0.506,0.085,0.745C5.163,5.404,2.753,4.102,1.14,2.124C0.859,2.607,0.698,3.168,0.698,3.767 c0,1.134,0.577,2.135,1.455,2.722C1.616,6.472,1.112,6.325,0.671,6.08c0,0.014,0,0.027,0,0.041c0,1.584,1.127,2.906,2.623,3.206 C3.02,9.402,2.731,9.442,2.433,9.442c-0.211,0-0.416-0.021-0.615-0.059c0.416,1.299,1.624,2.245,3.055,2.271 c-1.119,0.877-2.529,1.4-4.061,1.4c-0.264,0-0.524-0.015-0.78-0.046c1.447,0.928,3.166,1.469,5.013,1.469 c6.015,0,9.304-4.983,9.304-9.304c0-0.142-0.003-0.283-0.009-0.423C14.976,4.29,15.531,3.714,15.969,3.058z"/></svg>
        </a>
      {% endif %}
      {% if site.gitlab_username %}
        <a class="social__link" target="_blank" rel="noopener noreferrer" href="https://gitlab.com/{{ site.gitlab_username }}">
          <svg class="social__icon" viewBox="0 0 430 430"
          version="1.1"
          sodipodi:docname="stacked_wm_grayscale.svg"
          width="20"
          height="20"
          inkscape:version="0.92.2 2405546, 2018-03-11">
         <metadata
            id="metadata26">
           <rdf:RDF>
             <cc:Work
                rdf:about="">
               <dc:format>image/svg+xml</dc:format>
               <dc:type
                  rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
               <dc:title>stacked_wm_grayscale</dc:title>
             </cc:Work>
           </rdf:RDF>
         </metadata>
         <sodipodi:namedview
            pagecolor="#ffffff"
            bordercolor="#666666"
            borderopacity="1"
            objecttolerance="10"
            gridtolerance="10"
            guidetolerance="10"
            inkscape:pageopacity="0"
            inkscape:pageshadow="2"
            inkscape:window-width="1920"
            inkscape:window-height="1016"
            id="namedview24"
            showgrid="false"
            fit-margin-top="0"
            fit-margin-left="0"
            fit-margin-right="0"
            fit-margin-bottom="0"
            inkscape:zoom="0.34604106"
            inkscape:cx="217.68296"
            inkscape:cy="95.09"
            inkscape:window-x="0"
            inkscape:window-y="27"
            inkscape:window-maximized="1"
            inkscape:current-layer="Layer_1" />
         <defs
            id="defs4">
           <style
              id="style2">.cls-1{fill:#5c5c5c;}.cls-2{fill:#a1a1a1;}.cls-3{fill:#787878;}</style>
         </defs>
         <title
            id="title6">stacked_wm_grayscale</title>
         <path
            id="path46"
            class="cls-2"
            d="m 429.00088,243.39588 -24,-74 -47.69,-146.610001 a 8.19,8.19 0 0 0 -15.58,0 l -47.66,146.620001 h -158.24 L 88.170876,22.785879 a 8.19,8.19 0 0 0 -15.58,0 l -47.64,146.620001 -24.00000012,74 a 16.38,16.38 0 0 0 5.99999992,18.31 l 208.0000042,151.16 208.1,-151.17 a 16.38,16.38 0 0 0 6,-18.31"
            inkscape:connector-curvature="0"
            style="fill:#a1a1a1" />
         <path
            id="path50"
            class="cls-1"
            d="m 214.95088,412.87588 v 0 l 79.12,-243.47 h -158.24 z"
            inkscape:connector-curvature="0"
            style="fill:#5c5c5c" />
         <path
            id="path58"
            class="cls-3"
            d="m 214.95088,412.87588 -79.12,-243.47 H 24.950876 Z"
            inkscape:connector-curvature="0"
            style="fill:#787878" />
         <path
            id="path66"
            class="cls-2"
            d="m 24.950876,169.40588 v 0 l -24.00000012,74 a 16.37,16.37 0 0 0 5.99999992,18.31 l 208.0000042,151.16 z"
            inkscape:connector-curvature="0"
            style="fill:#a1a1a1" />
         <path
            id="path74"
            class="cls-1"
            d="M 24.950876,169.40588 H 135.83088 L 88.170876,22.785879 a 8.19,8.19 0 0 0 -15.58,0 z"
            inkscape:connector-curvature="0"
            style="fill:#5c5c5c" />
         <path
            id="path78"
            class="cls-3"
            d="m 214.95088,412.87588 79.12,-243.47 h 110.88 z"
            inkscape:connector-curvature="0"
            style="fill:#787878" />
         <path
            id="path82"
            class="cls-2"
            d="m 404.95088,169.40588 v 0 l 24,74 a 16.37,16.37 0 0 1 -6,18.31 l -208,151.16 z"
            inkscape:connector-curvature="0"
            style="fill:#a1a1a1" />
         <path
            id="path86"
            class="cls-1"
            d="m 404.95088,169.40588 h -110.88 l 47.66,-146.620001 a 8.19,8.19 0 0 1 15.58,0 z"
            inkscape:connector-curvature="0"
            style="fill:#5c5c5c" />
       </svg>
       
        </a>
      {% endif %}
      {% if site.linkedin_username %}
        <a class="social__link" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/{{ site.linkedin_username }}/">
          <svg class="social__icon" viewBox="0 0 24 24" width="20px" height="20px"><path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/></svg>
        </a>
      {% endif %}
    </nav>
    <span>&copy; {{ site.time | date: '%Y' }} {{ site.title | escape }}. All rights reserved.</span>
  </div>
</footer>
<script async src="{{ "/assets/js/bundle.js" | relative_url }}"></script>
{% if site.service_worker %}
<script async>
  if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register('{{ "/sw.js" | relative_url }}').then(function( registration ) {
      console.log('ServiceWorker registration successful with scope: ', registration.scope);
    })
    .catch(function(error) {
      console.log('ServiceWorker registration failed: ', error);
    });
  }
</script>
{% endif %}
