body{margin:0;padding:0;font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}code{font-family:source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace}.red{background-color:red}.green{color:#adff2f}.gray{color:grey}.bold{font-weight:700}.aqua{color:#0ff}
/*# sourceMappingURL=main.b09039fd.chunk.css.map */