body{margin:0;padding:0;font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}code{font-family:source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace}.center-button{margin:0 auto;display:block}.error-background:-moz-read-only{background-color:#f8d7da}.error-background:read-only{background-color:#f8d7da}
/*# sourceMappingURL=main.804c766b.chunk.css.map */