---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">

  {% include head.html %}

  <body class="site">

    {% if site.google_tag_manager %}

      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->

    {% endif %}

    {% include header.html %}

    <div class="hero" style="background: rgb(2,0,36); background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(16,21,117,1) 35%, rgba(0,212,255,1) 100%);">
      <div class="hero__wrap">
        <h1 class="hero__title">{{ site.title | escape }}</h1>
        <p class="hero__meta">{{ site.tagline }}</p>
      </div>
    </div>

    <main class="site__content">
      <section class="blog">
        <div class="container">
          <div class="post-list" itemscope="" itemtype="http://schema.org/Blog">

            {% for post in site.posts %}
              {% include card.html %}
            {% endfor %}

            <!-- {% include pagination.html %} -->
          </div>
        </div>
      </section>
    </main>
    <div class="container">
      <br /><br />
      <h2>Some other pages on this site:</h2>
      <ul>
        <li><a href="/fragmentetris/">Fragmentetris</a> - a modified version of tetris to demonstrate how fragmentation occurs in memory</li>
        <!-- <li><a href="/bill/">Bill Splitter</a> - a simple page to help split bills in a smarter way, written in React</li> -->
        <li><a href="/comp-display/">Competiton Display</a> - a tool to display information at Rubik's Cube competitions, written in React</li>
        <li><a href="/wca-analyzer/">WCA Analyzer</a> (<span style="font-weight: 700">Deprecated</span>) - a tool to analyze someone's WCA competition results and generate many statistics about them, including pretty graphs. It's written in Java with JavaFX. This tool is no longer maintained</li>
        <li><a href="https://kb.matthewmcmillan.me">Knowledge Base</a> - a personal wiki with notes on a variety of subjects I want to be able to reference</li>
        <li><a href="https://games.matthewmcmillan.me">Games</a> - a collection of fun online flash games, in fullscreen and without ads. Still usable in 2023!</li>
      </ul>
      <em>Please note that this isn't a list of my projects- those can be found on <a href="https://www.linkedin.com/in/matthew-mcmillan/">LinkedIn</a></em>
      <br />
      <br />
    </div>
    {% include footer.html %}

  </body>

</html>
