---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">

  {% include head.html %}

  <body class="site">

    {% if site.google_tag_manager %}

      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->

    {% endif %}

    {% include header.html %}
    {% if page.repeat-background == true %}
    <div class="hero--small lazyload bg-repeat" data-bg="/assets/img/{{ page.featured-img }}">
    {% else %}
    <div class="hero--small lazyload" data-bg="/assets/img/{{ page.featured-img }}">
    {% endif %}
      <div class="hero__wrap">
        <h1 class="hero__title">{{ page.title }}</h1>
      </div>
    </div>
    <main class="site__content">

      <div class="container">
        <div class="page-content">

          {{ content }}

        </div>
      </div>

    </main>

    {% include footer.html %}

  </body>

</html>
