html {
  box-sizing: border-box;
}

body {
  -webkit-overflow-scrolling: touch;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


.profile-image {
  border-radius: 50%;
  float: left;
  padding: 2em;
}

@media (min-width: 768px) {
  .profile-image {
    max-width: 33%;
  }
}

//sticky footer
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site__content {
  flex: 1;
}

// responsive images
img {
  max-width: 100%;
  height: auto;
  width: auto;
  vertical-align: middle;
}

img::selection {
  background: transparent;
}

figure {
  margin: 0;
}
